#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  flex-direction: row;
}

.square {
  max-width:80px;
  min-width:80px;
  max-height:80px;
  min-height:80px;
  cursor: move;
}

.squareWhite {
  background-color: wheat;
}

.squareBlack {
  background-color: grey;
}